/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, override;
}

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
}

/* Header: Vollbild und flexibles Layout */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #161b22;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 100;
}

/* Profilbild */
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Burger-Menü für mobile Ansicht */
.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger-menu .line {
  width: 30px;
  height: 3px;
  background-color: #c9d1d9;
  transition: 0.3s;
}

/* Navigation */
.nav-menu {
  display: flex;
  gap: 20px;
}

@media (min-width: 769px) {
  .nav-menu {
    display: flex;
  }
  .burger-menu {
    display: none;
  }
  .nav-menu a {
    color: #21E762;
    text-decoration: none;
  }

  .nav-menu a:hover {
    color: #26e867;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #161b22;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
  }

  .burger-menu {
    display: flex;
  }

  .nav-menu.show {
    display: flex;
  }

  a {
    color: #26e867;
  }
}

/* Hero Section */
#hero {
  text-align: center;
  margin: 100px 0;
}

.highlight {
  color: #26e867;
  font-weight: bold;
}

/* Projekte & Blog Section */
#projects,
#blog {
  margin: 50px 0;
  color: #26e867;
}

.project {
  margin-bottom: 20px;
  color: #c9d1d9;
}

/* Blog Container */
.blog-container {
  display: flex;
  flex-wrap: wrap; /* Zeilenumbruch bei Bedarf */
  gap: 20px; /* Abstand zwischen den Boxen */
  justify-content: center; /* Zentriert die Blog-Einträge */
}

.blog-entry {
  flex: 1 1 calc(33.333% - 20px); /* 3 Spalten auf Desktop */
  max-width: 400px; /* Maximalbreite pro Eintrag */
  background-color: #21262d;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

/* Anpassung für mobile Geräte */
@media (max-width: 768px) {
  .blog-entry {
    flex: 1 1 100%; /* Vollbreite auf mobilen Geräten */
  }
}

.blog-entry a {
  text-decoration: none;
  color: #c9d1d9;
}

.blog-entry:hover {
  transform: scale(1.05); /* Vergrößert die Box beim Hover */
}

/* Blog-Bild */
.blog-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Kontakt Section */
#contact {
  margin: 50px 0;
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 50px;
  color: #8b949e;
}

